.validUrl{
    margin-top: 1rem;
    font-size: 10px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;

    a{
        text-decoration: none;
        color: rgb(85, 14, 85);
    }
    p{
        margin-top: 1rem;
    }
}